body
{
    background-image: url("../image/acount.jpeg");
    background-repeat: no-repeat;
    background-size: 100vw;
}

h3 {
    text-decoration: underline;
    margin-left: 5%;
}

#info p{
    text-align: right;
    margin-right: 2%;
}