table
{
    border-collapse: collapse;
}

td, th /* Mettre une bordure sur les td ET les th */
{
    border: 1px solid black;
}

label{
    margin-top: 5%;
}

#content-wrap a{
    margin-left: 5%;
}

#content-wrap a:hover{
    color:red;
}

#content-wrap{
    margin-left: 1%;
    margin-top:1%
}