#question {
    font-weight: bold;
    padding-left: 2%;
}

#reponsePossible {
    margin-left: 5%;
}

#reponsePossible input{
    margin-right : 2%
}

#reponse{
    margin: 1% 0% 1% 5%;    /*top right bottom left*/
}

#titleQuiz{
    text-decoration: underline;
}

#zoneResultQuiz{
    background-color: gray;
    border-radius: 20px;
    padding-left: 5%;
    margin: 1% 5% 1% 5%
}

#score{
    color:red;
}